@using ControleDeMedicamentos.ConsoleApp.ModuloFornecedor;
@using ControleDeMedicamentos.ConsoleApp.Models;

@Model EditarFornecedorViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Edição de Fornecedor - Gestão de Medicamentos</title>

</head>
<body>
    <h1>Gestão de Medicamentos</h1>

    <h3>Edição de Fornecedor</h3>

    <form action="/fornecedores/editar/@Model.Id" method="post">
        <label>Nome do Fornecedor</label>
        <input type="text" name="nome" value="@Model.Nome" />
        <br />
        <label>Telefone do Fornecedor</label>
        <input type="text" name="telefone" value="@Model.Telefone" />
        <br />
        <label>CNPJ do Fornecedor</label>
        <input type="text" name="CNPJ" value="@Model.CNPJ" />
        <hr />

        <button type="submit">Gravar</button>
    </form>
</body>
</html>